.feedback {
  background: linear-gradient(139deg, #026693 33.6%, #00b2ff 33%);
  scroll-margin-top: 100px;

  @include vp-1023 {
    background: $deep-sky-blue-second;
    scroll-margin-top: 80px
  }

  @include vp-767 {
    scroll-margin-top: 50px
  }
}

.feedback__wrapper {
  max-width: 1222px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 52px;
  padding-top: 164px;
  padding-right: 12px;
  padding-bottom: 250px;
  padding-left: 0;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 0;
    padding-top: 44px;
    padding-right: 50px;
    padding-bottom: 125px;
    padding-left: 50px;
  }

  @include vp-767 {
    padding-right: 25px;
    padding-bottom: 84px;
    padding-left: 25px;
  }

  @include vp-374 {
    padding-bottom: 89px;
  }

  img {
    padding-top: 82px;

    @include vp-1023 {
      display: none;
    }
  }
}

.feedback__form {

  h2 {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $color-default-white;
    margin: 0;
    margin-bottom: 13px;
    margin-left: -4px;

    @include vp-1023 {
      margin-bottom: 9px;
      margin-left: 0;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 42px;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;
    margin: 0;
    margin-bottom: 36px;


    @include vp-1023 {
      margin-bottom: 26px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 36px;
    }
  }
}

.feedback__form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 21px;
    column-gap: 0;
  }

  input {
    width: 100%;
    color: $color-default-white;
    background-color: $black-pearl-opacity;
    border: none;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 15px;
    outline: none;

    &::placeholder {
      font-family: $ff-ptmono;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $color-default-white;
    }
  }

  textarea {
    grid-column: 1/-1;
    color: $color-default-white;
    background-color: $black-pearl-opacity;
    border: none;
    border-radius: 3px;
    outline: none;
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;

    &::placeholder {
      font-family: $ff-ptmono;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $color-default-white;
    }

    @include vp-1023 {
      margin-bottom: 16px;
    }

    @include vp-767 {
      padding-bottom: 26px;
      margin-bottom: 9px;
    }
  }

  button {
    max-width: 265px;
    height: min-content;
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: $color-default-white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    background-color: $color-black-pearl-second;
    cursor: pointer;
    padding-top: 13px;
    padding-right: 25px;
    padding-bottom: 13px;
    padding-left: 25px;

    @include hover-focus {
      transition: background $trans-default;
      color: $deep-sky-blue;
      background: $alice-blue;
    }

    @include vp-1023 {
      padding-top: 15px;
      padding-bottom: 11px;
    }

    @include vp-767 {
      max-width: 270px;
    }
  }
}

.feedback__checkbox {
  position: absolute;
  left: 9px;
  top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid $color-default-white-opacity;
  border-radius: 2px;

  @include vp-1023 {
    top: 7px;
    left: 0;
  }
}

.feedback__agreed {
  order: 1;
  align-self: end;

  @include vp-1023 {
    margin-bottom: 4px;
  }

  @include vp-767 {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 5px;
  }
}

.feedback__form input:hover,
.feedback__form textarea:hover,
.feedback__form input:focus,
.feedback__form textarea:focus {
  background: $black-pearl-opacity-second;
}
