.header {
  width: 100%;
  position: fixed;
  background: $black-to-bottom;
  z-index: 10;

  @include vp-1023 {
    position: absolute;
  }
}

.header__wrapper {
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 35px;

  @include vp-1023 {
    min-height: 100px;
    padding-top: 20px;
    padding-right: 70px;
    padding-bottom: 25px;
    padding-left: 50px;
  }

  @include vp-767 {
    min-height: 70px;
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 26px;
  }
}

.header__logo {
  width: 215px;
  height: 55px;

  @include hover-focus {
    opacity: 0.5;
  }

  @include vp-767 {
    width: 35px;
    height: 35px;
  }

  @include focus {
    outline: 2px solid $deep-sky-blue;
    border-color: transparent;
    border-radius: 5px;
  }
}

.header__list {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  gap: 10px 10px;
  padding: 0;
  padding-top: 4px;
  margin: 0;
  background: $black-to-bottom;

  @include vp-1023 {
    max-width: fit-content;
    min-width: 220px;
    gap: 20px;
    padding: 0;
    justify-content: flex-end;
  }
}

.header__item {
  min-width: 150px;

  @include vp-1023 {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 8px;

  &-icon {
    margin-right: 15px;

    @include vp-1023 {
      margin-right: 0;
    }
  }

  @include focus {
    outline: 2px solid $deep-sky-blue;
    border-radius: 5px;
  }

  @include active-active {
    opacity: 1;
    color: $color-default-white;
  }

  @include active {
    opacity: 1;
    color: $color-default-white;
  }

  @include vp-1023 {
    padding: 10px;
  }

  @include vp-767 {
    padding-top: 5px;
  }
}

.header__text {
  color: $alice-blue;
  line-height: 18px;

  @include vp-1023 {
    display: none;
  }

  @include hover-focus {
    color: $deep-sky-blue;
  }
}

// .header__button-wrapper {
//   max-width: 160px;
//   min-height: 40px;
//   border: 1px solid $alice-blue;
//   border-radius: 3px;
//   align-self: flex-start;
//   padding-top: 5px;
//   padding-right: 16px;
//   padding-bottom: 7px;
//   padding-left: 16px;
//   margin: 0;
//   margin-top: 5px;
//   margin-right: 60px;
//   cursor: pointer;

//   @include vp-1023 {
//     display: none;
//   }
// }

.header__button {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $alice-blue;
  text-transform: uppercase;
  user-select: none;
  max-width: 160px;
  min-height: 40px;
  border: 1px solid $alice-blue;
  border-radius: 3px;
  align-self: flex-start;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin: 0;
  margin-top: 5px;
  margin-right: 60px;

  @include vp-1023 {
    display: none;
  }

  @include hover {
    color: $deep-sky-blue;
    opacity: 0.8;
  }

  @include focus {
    outline: 2px solid $deep-sky-blue;
    border-color: transparent;
    border-radius: 5px;
  }

  @include active-active {
    color: $black-pearl;
    opacity: 1;
  }

  @include active {
    background-color: $deep-sky-blue;
    opacity: 1;
  }
}
