.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;
    margin-top: -90px;
    margin-left: -8px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: $modal-overlay;

    cursor: pointer;
  }

  &__content {
    position: relative;
    width: 500px;
    padding-top: 37px;
    padding-right: 40px;
    padding-bottom: 42px;
    padding-left: 40px;
    background-color: $deep-sky-blue-second;
    border-radius: 3px;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 17px;
    right: 15px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__title {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: $color-default-white;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.modal__description {
  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 40px;
}

.modal__form form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  column-gap: 0;
}

.modal__form {
  input {
    width: 100%;
    color: $color-default-white;
    background-color: $black-pearl-opacity;
    border: none;
    border-radius: 3px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
    outline: none;

    &::placeholder {
      color: $color-default-white;
    }
  }

  label {
    order: 1;

    @include hover-focus {
      opacity: 0.8;
    }
  }

  textarea {
    grid-column: 1/-1;
    color: $color-default-white;
    background-color: $black-pearl-opacity;
    border: none;
    border-radius: 3px;
    outline: none;
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 5px;

    &::placeholder {
      color: $color-default-white;
    }
  }

  button {
    height: min-content;
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: $color-default-white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    background-color: $color-black-pearl-second;
    cursor: pointer;
    padding-top: 13px;
    padding-right: 25px;
    padding-bottom: 13px;
    padding-left: 25px;
    user-select: none;

    @include hover-focus {
      transition: background $trans-default;
      color: $deep-sky-blue;
      background: $alice-blue;
    }
  }

  .modal__field {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  .modal__checkbox {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
    opacity: 0.8;
    padding-left: 34px;

    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      background-color: transparent;
      border: 1px solid $color-default-white;
      border-radius: 2px;
      left: 0;
      top: 0;
    }
  }
}

.modal__form [type="checkbox"]:focus + .modal__checkbox {
  outline: 2px solid $color-default-white;
  outline-offset: 2px;
}

.modal__form input[type="checkbox"]:checked + .modal__checkbox::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 7px;
  height: 4px;
  border-radius: 1px;
  border-left: 2px solid $color-default-white;
  border-bottom: 2px solid $color-default-white;
  transform: rotate(-45deg);
}

.modal__form input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  transform: translate(-18px, 14px);
}

.modal__form input:hover,
.modal__form textarea:hover,
.modal__form input:focus,
.modal__form textarea:focus {
  background: $color-autofill;
  outline: 2px solid $color-default-white;
}

.modal__form input:-webkit-autofill,
.modal__form input:-webkit-autofill:hover,
.modal__form input:-webkit-autofill:focus,
.modal__form textarea:-webkit-autofill,
.modal__form textarea:-webkit-autofill:hover,
.modal__form textarea:-webkit-autofill:focus,
.modal__form select:-webkit-autofill,
.modal__form select:-webkit-autofill:hover,
.modal__form select:-webkit-autofill:focus {
  -webkit-text-fill-color: $color-default-white;
  -webkit-box-shadow: 0 0 0 40rem $color-autofill inset;
  outline: 2px solid $color-default-white;
}
